.colrbtn{
    background-color: rgb(235, 3, 3);
    border: 0;
    border-radius: 20px;
}
.colrbtn:hover{
    background-color: rgb(184, 9, 9);
    border: 0;
}
.shadow{
    border: 0;
    border-radius: 5px;
}
.sec8{
    background-color: rgb(245, 249, 250);
}